{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section class="gh-container is-{{#match postFeedStyle "List"}}list{{else}}grid{{/match}} gh-outer ">
    <div class="gh-container-inner gh-inner ">    
        <main class="gh-main"> 
           {{!-- All posts --}}
                    {{#match feed "index"}}
                    
                        
                        {{#match pagination.page 2}}
                            {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
                                {{#foreach recent}}
                                    {{> "post-card"}}
                                {{/foreach}}
                            {{/get}}
                        {{/match}}
                        {{#foreach posts}}
                            {{> "post-card" lazyLoad=true}}
                        {{/foreach}}
                        
                    {{/match}}

                    {{!-- Tag and author pages --}}
                    {{#match feed "archive"}}
                    <div class=" gh-container gh-feed  ">
                        
                        {{#foreach posts}}
                            {{> "post-card" lazyLoad=true}}
                        {{/foreach}}
                        </div>
                    {{/match}}
        </main>


        {{#match pagination.pages ">" 1}}
            <div class="gh-more is-title">
                <a href="{{@site.url}}/page/2">See all {{> "icons/arrow"}}</a>
            </div>
        {{/match}}

    </div>
</section>